preferences:
  autowire-on-sync-mode: UPDATE_OPTIONAL_DEPENDENCIES
  repositories-mode: FAIL_ON_PROJECT_REPOS

repositories:
  gradle-plugin-portal:
    scope: PLUGINS
  google:
  maven-central:
  jit-pack:
  sonatype-oss-releases:
  rovo89-xposed-api:
    scope: LIBRARIES
    url: https://api.xposed.info/
    content:
      include:
        group:
          de.robv.android.xposed
  fankes-maven-releases:
    url: https://raw.githubusercontent.com/fankes/maven-repository/main/repository/releases

plugins:
  com.android.application:
    alias: android-application
    version: 8.13.0
  org.jetbrains.kotlin.android:
    alias: kotlin-android
    version: 2.2.10
  com.highcapable.flexilocale:
    alias: flexi-locale
    version: 1.0.2
  com.google.devtools.ksp:
    alias: kotlin-ksp
    version: 2.2.10-2.0.2

libraries:
  com.fankes.projectpromote:
    project-promote:
      version: 1.0.1
      repositories:
        fankes-maven-releases
  de.robv.android.xposed:
    api:
      version: 82
      repositories:
        rovo89-xposed-api
  com.highcapable.yukihookapi:
    api:
      version: 1.3.1
    ksp-xposed:
      version-ref: <this>::api
  com.highcapable.kavaref:
    kavaref-core:
      version: 1.0.1
    kavaref-extension:
      version: 1.0.1
  com.microsoft.appcenter:
    appcenter-analytics:
      version: 5.0.6
    appcenter-crashes:
      version-ref: <this>::appcenter-analytics
  com.github.topjohnwu.libsu:
    core:
      version: 5.2.2
      auto-update: false
  com.github.duanhong169:
    drawabletoolbox:
      version: 1.0.7
  com.google.code.gson:
    gson:
      version: 2.13.1
  com.squareup.okhttp3:
    okhttp:
      version: 5.1.0
  androidx.core:
    core-ktx:
      version: 1.17.0
  androidx.appcompat:
    appcompat:
      version: 1.7.1
  com.google.android.material:
    material:
      version: 1.13.0
  androidx.constraintlayout:
    constraintlayout:
      version: 2.2.1
  androidx.test.ext:
    junit:
      version: 1.3.0
  androidx.test.espresso:
    espresso-core:
      version: 3.7.0
  junit:
    junit:
      version: 4.13.2